
/* css */
.alter{
  position: absolute;
  top: 100px;
  left: 400px;
}

.circle1{
  position: absolute;
  left: 250px;
  width: 100px;
height: 100px;
border-radius: 50%;
background: yellow;
}

.circle2{
  position: absolute;
left: 350px;
width: 100px;
height: 100px;
border-radius: 50%;
background: red;
}

.circle3{
  position: absolute;
left: 450px;
width: 100px;
height: 100px;
border-radius: 50%;
background: blue;
}

.circle4{
  position: absolute;
left: 550px;
width: 100px;
height: 100px;
border-radius: 50%;
background: yellow;
}

.circle5{
  position: absolute;
left: 650px;
width: 100px;
height: 100px;
border-radius: 50%;
background: red;
}

.circle6{
  position: absolute;
left: 750px;
width: 100px;
height: 100px;
border-radius: 50%;
background: blue;
}

.circle7{
  position: absolute;
left: 850px;
width: 100px;
height: 100px;
border-radius: 50%;
background: yellow;
}

.circle8{
  position: absolute;
left: 950px;
width: 100px;
height: 100px;
border-radius: 50%;
background: red;
}

.circle9{
  position: absolute;
left: 1050px;
width: 100px;
height: 100px;
border-radius: 50%;
background: blue;
}

.circle10{
  position: absolute;
left: 1150px;
width: 100px;
height: 100px;
border-radius: 50%;
background: yellow
}

.bottomborder{
  top: 835px;
position: absolute;
z-index: -9;}

.hair1{
  position: relative;
  width: 200px;
  right: 60px;
  bottom: 100px;
  height: 500px;
  border-radius: 4000px 40px 40px 6000px;
  background: #a5653e;;
  transform: rotate(45deg);
  z-index: 2;
}

.hair2{
  position: relative;
    width: 200px;
    left: 290px;
    bottom: 660px;
    height: 500px;
    border-radius: 600px 4000px 40px;
    background: #a5653e;
    transform: rotate(308deg);
    z-index: 2;
}

.bodyofhair{
  position: relative;
    bottom: 910px;
    z-index: -1;
    height: 500px;
    width: 500px;
    border-radius: 25px 25px 25px 0;
    transform: rotate(
270deg);
    background: #a5653e;}

.bodyofhair::before {
  content: "";
  position: absolute;

  background-color: transparent;
  bottom: -50px;
  height: 50px;
  width: 25px;
  border-top-left-radius: 25px;
  box-shadow: 0px -25px 0 0 #a5653e;
}

.face{
  position: absolute;
  left: 150px;
  top:150px;
  width: 500px;
height: 550px;
background: #ec84a2;
border-radius: 700px}

.rosey1{
  position: absolute;
    left: 20px;
    top: 275px;
    width: 150px;
    height: 150px;
    background: #cc154a;
    border-radius: 50%;}

.rosey2{
  position: absolute;
    left: 330px;
    top: 275px;
    width: 150px;
    height: 150px;
    background: #cc154a;
    border-radius: 50%}

.mouth-1{
  position: absolute;
left: 125px;
top: 370px;
width: 250px;
height: 100px;
border-radius: 7px 7px 100px 100px;
background: black;
}

.eyeright{
  position: absolute;
top: 130px;
left: 300px;
width: 100px;
height: 100px;
background: black;
border-radius: 50%;
z-index: 3;}

.eyeleft{
    position: absolute;
    top: 130px;
    left: 100px;
    width: 100px;
    height: 100px;
    background: black;
    border-radius: 50%;
    z-index: 3;
}

.nose{
  position: absolute;
  border: solid 12px black;
    top: 240px;
    left: 200px;
    width: 70px;
    height: 70px;
  border-radius:50%;
}
