
/* css */
div {position: absolute;}

.hair{
  left: 100px;
  top: 100px;
  width: 800px;
  height: 700px;
  background: #9C6A0A;}

.face{
  left: 150px;
  top:150px;
  width: 700px;
height: 600px;
background: #EBC7FF;}

.rosey1 {
left: 310px;
top: 370px;
width: 90px;
height: 90px;
background: #EC84A2;}

.rosey2{
  left: 700px;
  top: 370px;
  width: 90px;
  height: 90px;
  background: #EC84A2;}

.mouth{
  left: 335px;
  top: 500px;
  width: 10px;
  length: 50px;
  background: black;
  transform: rotate(-45deg)}

.mouth2{
    left: 700px;
    top: 100px;
    width: 1000px;
    length: 500px;
    background: black;
    transform: rotate(-45deg)}

.eyeright{
    width: 100px;
    length: 50px;
    background: blue;}
